<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
    <h2 style="text-align:center;">Welcome</h2><br>
    <p>ร้านคุรุคิริ ไอศรีม อยากจะแน่ะนำสินค้าไอศรีมที่ทางร้านอยากจะให้ลูกค้าได้ชิมกันน่ะค่ะ</p><br>

    <div class="col-sm-3"><img src="/assets/images/oo.jpg"width="250px" height="250px"><h3></h3>
        </div>

        <div class="col-sm-3"><img src="/assets/images/gg.jpg"width="250px" height="250px"><h3></h3>
         </div>

    <div class="col-sm-3"><img src="/assets/images/hh.jpg"width="250px" height="250px"><h3></h3>
       </div>

    <div class="col-sm-3"><img src="/assets/images/mm.jpg"width="250px" height="250px"><h3></h3>
        </div>

    <div class="col-sm-3"><img src="/assets/images/ee.jpg"width="250px" height="250px"><h3></h3>
        </div>

    <div class="col-sm-3"><img src="/assets/images/cc.jpg"width="250px" height="250px"><h3></h3>
        </div>

    <div class="col-sm-3"><img src="/assets/images/pp.jpg"width="250px" height="250px"><h3></h3>
        </div>

    <div class="col-sm-3"><img src="/assets/images/nn.jpg"width="250px" height="250px"><h3></h3>
    </div>



</body>