<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<p style="color: #8a6d3b" align="center">
    <strong>
        <b>


            <a href="/" class="btn btn-info"style="width: 100%;"><strong><b>home</b> </strong> </a><br>
            <a href="/product"class="btn btn-info"style="width: 100%;"><strong> <b>product</b></strong> </a><br>
            <a href="/oder"class="btn btn-info"style="width: 100%;"> <strong><b>oder</b></strong></a><br>
            <a href="/pormotions"class="btn btn-info"style="width: 100%;">  <strong> <b>pormotions </b></strong></a><br>
            <a href="/pt"class="btn btn-info"style="width: 100%;">  <strong> <b>pt</b></strong></a><br>


        </b>
    </strong>
</p>