<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container-fluid">

    <div class="row">

            <div class="col-sm-3"><img src="/assets/images/02.jpg"width="200px" height="200px"><h3>ชาเย็น</h3>
                ราคา 50฿</div>
            <div class="col-sm-3"><img src="/assets/images/10.jpg"width="200px" height="200px"><h3>ผสม</h3>
               ราคา 50฿</div>
            <div class="col-sm-3"><img src="/assets/images/000.jpg"width="200px" height="200px"><h3>นมสดน้ำผึ้ง</h3>
               ราคา 50฿</div>
            <div class="col-sm-3"><img src="/assets/images/055.jpg"width="200px" height="200px"><h3>วนิลา</h3>
               ราคา 50฿</div>
        </div>
    <div class="row"></div>

            <div class="col-sm-3"><img src="/assets/images/13.jpg"width="200px" height="200px"><h3>สตอเบอรี่</h3>
                ราคา 50฿</div>
            <div class="col-sm-3"><img src="/assets/images/09.jpg"width="200px" height="200px"><h3>บลูเบอรี่</h3>
               ราคา 50฿</div>
            <div class="col-sm-3"><img src="/assets/images/00.jpg"width="200px" height="200px"><h3>ผสม</h3>
                ราคา 80฿</div>
            <div class="col-sm-3"><img src="/assets/images/12.jpg"width="200px" height="200px"><h3>ชาโค</h3>
                ราคา 70฿</div>

    <div class="row"></div>

    <div class="col-sm-3"><img src="/assets/images/22.jpg"width="200px" height="200px"><h3>มันม่วง</h3>
        ราคา 50฿</div>
    <div class="col-sm-3"><img src="/assets/images/9.jpg"width="200px" height="200px"><h3>ลูกพรุน</h3>
        ราคา 50฿</div>
    <div class="col-sm-3"><img src="/assets/images/07.jpg"width="200px" height="200px"><h3>มะม่วง</h3>
        ราคา 50฿</div>
    <div class="col-sm-3"><img src="/assets/images/01.jpg"width="200px" height="200px"><h3>ชาเขียว</h3>
        ราคา 50฿</div>

    <div class="col-sm-3"><img src="/assets/images/ll.jpg"width="200px" height="200px"><h3>ผสมมันม่วง-นมสด</h3>
        ราคา 80฿</div>
    <div class="col-sm-3"><img src="/assets/images/ww.jpg"width="200px" height="200px"><h3>ผสมชาโค-สตอเบอรี่</h3>
        ราคา 80฿</div>
    <div class="col-sm-3"><img src="/assets/images/uu.jpg"width="200px" height="200px"><h3>ผสมมะม่วง-ชาโค</h3>
        ราคา 80฿</div>
    <div class="col-sm-3"><img src="/assets/images/yy.jpg"width="200px" height="200px"><h3>ผสมชาเขียว-นมสด</h3>
        ราคา 80฿</div>



    </div>