@(o1:Ice)
<div class="container-fluid">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-group">
            <div  class="panel panel-primary">
                <div class="panel-heading">@o1.getName</div>
                <div class="panel-body"style="color:cadetblue">
                    id:@o1.getId()<br>
                    name:@o1.getName()<br>
                    brand:@o1.getBrand()<br>
                    size:@o1.getSize()<br>
                    number:@o1.getNumber()<br>
                    price:@o1.getPrice()<br>
                </div>
            </div>
        </div>
    </div>
</div>