<html>

    <head>  </head>
        <title>ยินดีต้อนรับ</title>
 <body>
    <div style="background-color: #dca7a7"></div>
    <img src="/assets/images/aern.jpg"width="200px" height="200px"><br>
    <h3>ชื่อ นางสาว ศิรินาถ ขันมัง Bis 3/3 N <br>
    รหัสนักศึกษา 59342110275-3<br>
    เกิดวันที่ 30 ตุลาคม พ.ศ.2540  อายุ 20 ปี<br>
    ปัจจุบันศึกษากำลังศึกษาที่ มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น<br>
    คณะบริหารธุระกิจและเทคโนโลยี<br>
    สาขาวิชา สารสนเทศทางคอมพิวเตอร์<br></h3>

</body>

</html>